<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceMarfrigSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50656/WebServiceMarfrig.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMarfrigSoap"
                contract="WebServiceMarfrig.WebServiceMarfrigSoap" name="WebServiceMarfrigSoap" />
        </client>
    </system.serviceModel>
</configuration>